[submodule ".registry"]
	path = .registry
	url = https://github.com/e-kotov-r-universe/universe
	branch = HEAD
[submodule "flows"]
	path = flows
	url = https://github.com/riatelab/flows
[submodule "wikimapR"]
	path = wikimapR
	url = https://github.com/e-kotov/wikimapR
